@model Liqui.Web.Data.Entities.Usuario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
          Local
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Local.Name )
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Modificar</a> 
    <a asp-action="AddLocal" class="btn btn-primary" asp-route-id="@Model.Id">Asignar</a> 
    <a asp-action="Index" class="btn btn-success">Volver</a>
</div>

